@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        display: flex;
    }

    nav ul li {
        margin: 0 1em;
    }

    main {
        max-width: 1200px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .hamburger {
        display: none;
    }
}