:root {
    --primary-color: #00247d;
    --secondary-color: #ffffff;
    --background-color: rgba(255, 255, 255, 0.8);
    --padding: 10px;
    --weather-icon: '⛅';
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

.header,
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

.header h1 {
    margin: 0;
}

.main-content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 100%;
    position: relative;
}

.image-container picture,
.image-container .hero-image {
    width: 100%;
    height: auto;
}

.data,
.weather {
    margin: var(--padding) 0;
    padding: var(--padding);
    background-color: var(--background-color);
    border-radius: 10px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.data h2,
.weather h2 {
    margin-top: 0;
    position: relative;
}

.weather h2::after {
    display: none;
}

.weather-icon {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
    /* Increased size */
    height: 100px;
    /* Increased size */
}

.data ul,
.weather ul {
    list-style-type: none;
    padding: 0;
}

.data li,
.weather li {
    margin: 5px 0;
}

.footer {
    font-size: 0.8em;
}

@media (min-width: 800px) {
    .main-content {
        justify-content: center;
        align-items: flex-start;
    }

    .data,
    .weather {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .data {
        top: 20px;
        left: 20px;
    }

    .weather {
        bottom: 20px;
        right: 20px;
    }

    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container .hero-image {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    .weather h2 {
        display: inline-block;
    }

    .weather h2::after {
        display: inline-block;
        content: var(--weather-icon);
        margin-left: 10px;
        font-size: 1.5em;
    }

    .weather-icon {
        display: none;
    }
}